#box{
    background-color:yellow;
    width: 540px;
    height:150px;
}
#text1{
    text-align: center;
    position: relative;
    bottom: -50px;
    font-size: 30px;
    right: 0;
    color:red;
}
#text2{
    position:relative;
    bottom:-60px;
    font-size:25px;
    color:blue;
}
#text3{
    position:relative;
    bottom:120px;
    font-size:15px;
}
